.main {
  padding-top: 100px;
}

.wrapperList {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  max-width: 700px;

  margin: 0 auto;
}

.itemList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  padding: 16px;

  border-radius: 12px;

  background-color: #1A1A1E;
}

.itemBtn {
  font-size: 14px;
  font-weight: 500;
  color: #F1F1F3;

  padding: 6px 16px;
  height: auto;

  border-radius: 60px;
}

.itemContent {
  display: flex;
  align-items: center;
  gap: 16px;
}

.imageWrapper {
  width: 120px;
  height: 64px;

  border-radius: 8px;

  background-color: #618cd0;
}

.contentTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contentInfo {
  font-size: 16px;
  font-weight: 400;
  color: #7A7A85;
}

.contentTitleWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.contentTitle {
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
}

.contentIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
}

.contentIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
}

@media (max-width: 1440px) {
  .main {
    padding-top: 80px;
  }

  .wrapperList {
    gap: 12px;

    max-width: 560px;
  }

  .itemList {
    gap: 2px;

    padding: 12px;

    border-radius: 8px;
  }

  .itemBtn {
    font-size: 13px;

    padding: 6px 12px;
  }

  .itemContent {
    gap: 12px;
  }

  .imageWrapper {
    border-radius: 6px;
  }

  .contentInfo {
    font-size: 14px;
  }

  .contentTitle {
    font-size: 16px;
  }

  .contentIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .main {
    padding-top: 60px;
  }

  .wrapperList {
    gap: 12px;
  }

  .itemList {
    padding: 8px;

    border-radius: 6px;
  }

  .itemBtn {
    font-size: 12px;

    padding: 6px 10px;
  }

  .itemContent {
    gap: 8px;
  }

  .imageWrapper {
    width: 64px;
    height: 64px;

    border-radius: 4px;
  }

  .contentInfo {
    font-size: 13px;
  }

  .contentTitle {
    font-size: 14px;
  }
}