.wrapper {
  padding-top: 40px;
}

.buttonsCellWrapper {
  flex: 1 0 185px !important;
}

.buttonsCell {
  display: flex;
  gap: 8px;
}

.buttonsCellBtnText {
  font-size: 14px;
  font-weight: 500;
  color: #F1F1F3;

  padding: 6px 16px;
  height: 32px;

  border-radius: 60px;
}

.buttonsCellBtnRefresh {
  width: 32px;
  height: 32px;

  padding: unset;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.buttonsCellBtnRefreshIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1440px) {
  .wrapper {
    padding-top: 32px;
  }

  .buttonsCell {
    gap: 4px;
  }

  .buttonsCellBtnText {
    font-size: 13px;

    padding: 6px 12px;
    height: 28px;
  }

  .buttonsCellBtnRefresh {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 375px) {
  .wrapper {
    padding-top: 24px;
  }
}