.main {
  padding-top: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}