.main {
  padding-top: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

@media (max-width: 1440px) {
  .main {
    padding-top: 32px;
  }

  .wrapper {
    gap: 16px;
  }

  .list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }
}


@media (max-width: 1324px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .list {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

@media (max-width: 375px) {
  .main {
    padding-top: 24px;
  }

  .wrapper {
    gap: 16px;
  }
}