.wrapper {
  padding-top: 100px;

  display: flex;
  justify-content: center;
}

.formLogin {
  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 100%;
  max-width: 500px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.passwordWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.forgot {
  align-self: flex-end;

  font-size: 12px;
  font-weight: 400;
  color: #1CB557;

  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 1440px) {
  .wrapper {
    padding-top: 80px;
  }

  .formLogin {
    max-width: 460px;
  }

  .inputsWrapper {
    gap: 20px;
  }

  .passwordWrapper {
    gap: 8px;
  }

  .forgot {
    font-size: 11px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

@media (max-width: 375px) {
  .wrapper {
    padding-top: 60px;
  }

  .formLogin {
    gap: 32px;
  }

  .inputsWrapper {
    gap: 16px;
  }

  .passwordWrapper {
    gap: 4px;
  }

  .forgot {
    font-size: 10px;
  }

  .buttons {
    gap: 8px;
  }
}