.wrapper {
  padding-top: 100px;

  display: flex;
  justify-content: center;
}

.formLogin {
  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 500px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.passwordWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.forgot {
  align-self: flex-end;

  font-size: 12px;
  font-weight: 400;
  color: #1CB557;

  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}