.wrapper {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;

  padding: 12px;

  border-radius: 12px;
  border: 1px solid #494950;

  overflow: hidden;

  width: 100%;
}

.wrapper.active {
  background-color: #1CB5571A;
  border-color: #1CB557;
}

.info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.iconWrapper {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  background-color: #C9C9CF;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.role {
  font-size: 14px;
  font-weight: 500;
  color: #F1F1F3;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.email {
  font-size: 12px;
  font-weight: 400;
  color: #C9C9CF;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.exitBtn {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.exitIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #7A7A85;
}

@media (max-width: 1440px) {
  .wrapper {
    padding: 8px;

    border-radius: 8px;
  }

  .info {
    gap: 8px;
  }

  .iconWrapper {
    width: 32px;
    height: 32px;
  }

  .role {
    font-size: 13px;
  }

  .email {
    font-size: 10px;
  }
}

@media (max-width: 1024px) {
  .exitIcon {
    display: none;
  }

  .name {
    display: none;
  }
}