.header {
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.title {
  font-family: 'Bounded', 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 466;
  color: #FFFFFF;
}

@media (max-width: 1440px) {
  .header {
    height: 42px;
  }

  .title {
    font-size: 28px;
  }

  .selectLabel {
    font-size: 13px;
  }

  .icons {
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .header {
    height: auto;

    min-height: 42px;
  }

  .menuBtn {
    display: flex;
  }
}

@media (max-width: 375px) {
  .header {
    min-height: 36px;
  }

  .title {
    font-size: 20px;
  }
}