.menuList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px;

  border-radius: 8px;

  cursor: pointer;

  &:hover {
    background-color: #242429;
  }
}

.menuItem.active {
  background-color: #242429;
}

.itemIcon {
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #7A7A85;
}

.title {
  font-size: 14px;
  font-weight: 500;
  color: #F1F1F3;
}

.divider {
  height: 1px;

  margin: 8px 0;

  background-color: #313135;
}

@media (max-width: 1440px) {
  .title {
    font-size: 13px;
  }

  .divider {
    margin: 4px 0;
  }
}

@media (max-width: 1024px) {
  .menuItem {
    justify-content: center;

    padding: 6px;

    border-radius: 6px;
  }
 
  .title {
    display: none;
  }
}