.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 24px;

  width: 320px;
  height: 100%;

  padding: 20px;

  background-color: #1A1A1E;

  color: white;

  border-radius: 12px;

  overflow-y: auto;
}

.wrapperMenu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 1024px) {
  .wrapper {
    width: 81px;

    padding: 16px;

    border-radius: 8px;
  }

  .wrapperMenu {
    gap: 8px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    display: none;
  }
}