.btn {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;

  border: none;
  border-radius: 12px;

  cursor: pointer;

  padding: 0 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 48px;
}

.btn.primary {
  background-color: #1CB557;

  &:hover {
    box-shadow: 0 0 30px 0 #1CB55799;
  }
}

.btn.secondary {
  background-color: #313135;
}

@media (max-width: 1440px) {
  .btn {
    font-size: 13px;
    font-weight: 600;

    border-radius: 10px;

    padding: 0 24px;

    height: 44px;
  }
}


@media (max-width: 375px) {
  .btn {
    font-size: 12px;
    font-weight: 600;

    border-radius: 8px;

    padding: 0 20px;

    height: 40px;
  }
}