.searchLabel {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;

  width: 100%;
  height: 42px;

  border-radius: 10px;

  padding: 9px 12px;

  background-color: #242429;
}

.searchInputIconWrapper {
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.searchInput {
  flex-grow: 1;

  font-size: 16px;
  font-weight: 400;
  color: #ffffff;

  border: none;
  outline: none;

  background-color: transparent;
}

.searchInput::placeholder {
  color: #7A7A85;
}

.searchInputIcon {
  color: #F1F1F3;

  width: 16px;
  height: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1440px) {
  .searchLabel {
    height: 38px;

    border-radius: 8px;
  }

  .searchInput {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .searchLabel {
    height: 36px;

    border-radius: 6px;
  }

  .searchInput {
    font-size: 13px;
  }
}