.main {
  padding-top: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.header {
  width: 100%;
  height: 209px;

  border-radius: 12px;

  background: linear-gradient(0deg, #161618, #161618),
  radial-gradient(83.84% 201.94% at 97.68% 100%, rgba(28, 181, 87, 0.4) 0%, rgba(0, 0, 0, 0) 100%);

  box-shadow: 0px -46px 96.8px 0px #57FB7D17 inset;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 100%;
  max-width: 700px;
}

.infoTitle {
  font-family: 'Bounded', 'Inter', sans-serif;
  font-size: 28px;
  font-weight: 466;
  color: #F1F1F3;
}

.infoTextBannerWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.infoTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infoText {
  font-size: 16px;
  font-weight: 500;
  color: #94949E;
}

.banner {
  display: flex;
  align-items: center;
  gap: 16px;

  width: 100%;

  border-radius: 12px;

  padding: 16px;

  background-color: #242429;
}

.bannerIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  background-color: #22C3601A;
}

.bannerIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #1CB557;
}

.bannerIcon.lightning {
  width: 20px;
  height: 20px;
}

.bannerText {
  font-size: 16px;
  font-weight: 500;
  color: #F1F1F3;
}

.bannerTextLink {
  color: #1CB557;
}

@media (max-width: 1440px) {
  .main {
    padding-top: 32px;
  }

  .wrapper {
    gap: 32px;
  }

  .header {
    height: 144px;

    border-radius: 10px;
  }

  .infoWrapper {
    gap: 32px;

    max-width: 600px;
  }

  .infoTitle {
    font-size: 24px;
  }

  .infoTextWrapper {
    gap: 16px;
  }

  .infoText {
    font-size: 14px;
  }

  .banner {
    gap: 12px;

    border-radius: 10px;

    padding: 12px;
  }

  .bannerIconWrapper {
    width: 32px;
    height: 32px;
  }

  .bannerText {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .main {
    padding-top: 24px;
  }

  .wrapper {
    gap: 24px;
  }

  .header {
    height: 80px;

    border-radius: 10px;
  }

  .infoWrapper {
    gap: 24px;
  }

  .infoTitle {
    font-size: 18px;
  }

  .infoTextBannerWrapper {
    gap: 24px;
  }

  .infoTextWrapper {
    gap: 12px;
  }

  .infoText {
    font-size: 13px;
  }

  .banner {
    gap: 8px;

    border-radius: 8px;

    padding: 8px;
  }

  .bannerIconWrapper {
    width: 29px;
    height: 29px;
  }

  .bannerText {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .header {
    height: 120px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 102px;
  }
}