.main {
  padding-top: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.header {
  width: 100%;
  height: 209px;

  border-radius: 12px;

  background: linear-gradient(0deg, #161618, #161618),
  radial-gradient(83.84% 201.94% at 97.68% 100%, rgba(28, 181, 87, 0.4) 0%, rgba(0, 0, 0, 0) 100%);

  box-shadow: 0px -46px 96.8px 0px #57FB7D17 inset;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 100%;
  max-width: 700px;
}

.infoTitle {
  font-family: 'Bounded', 'Inter', sans-serif;
  font-size: 28px;
  font-weight: 466;
  color: #F1F1F3;
}

.infoTextBannerWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.infoTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infoText {
  font-size: 16px;
  font-weight: 500;
  color: #94949E;
}

.banner {
  display: flex;
  align-items: center;
  gap: 16px;

  width: 100%;

  border-radius: 12px;

  padding: 16px;

  background-color: #242429;
}

.bannerIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  background-color: #22C3601A;
}

.bannerIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #1CB557;
}

.bannerIcon.lightning {
  width: 20px;
  height: 20px;
}

.bannerText {
  font-size: 16px;
  font-weight: 500;
  color: #F1F1F3;
}

.bannerTextLink {
  color: #1CB557;
}