.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background-color: #1A1A1E;

  padding: 20px;

  border-radius: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttons {
  display: flex;
  gap: 12px;
}

.selectBtn {
  padding: 8px 20px;

  border-radius: 60px;

  background-color: transparent;

  font-size: 16px;
  font-weight: 500;
  color: #F1F1F3;
}

.selectBtn.active {
  background-color: #313135;
}

.divider {
  height: 2px;
  width: 100%;

  background-color: #242429;
}