.wrapper {
  padding-bottom: 10px;
  overflow-x: auto;
}

.customTableHeader {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;

  > :first-child {
    border-top-left-radius: 20px;
  }

  > :last-child {
    border-top-right-radius: 20px;
  }
}

.customTableBody {
  > :first-child {
    > :first-child {
      border-bottom-left-radius: 20px;
    }
  }

  > :last-child {
    > :last-child {
      border-bottom-right-radius: 20px;
    }
  }
}

.customTableCell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 150px;

  background-color: #1A1A1E;

  overflow: hidden;

  word-break: break-word;
  white-space: pre-wrap;

  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;

  min-height: 90px;

  padding: 12px 18px;
}

.customTableCellHeader {
  background-color: #242429;

  min-height: 86px;
}

.customTableRow {
  display: flex;
}

@media (max-width: 1440px) {
  .customTableHeader {
    font-size: 14px;
  }

  .customTableCell {
    font-size: 14px;

    min-height: 68px;

    padding: 8px 12px;
  }

  .customTableCellHeader {
    min-height: 68px;
  }
}