:root {
  --BW-0: #000000;
  --BW-5: #0E0E10;
  --BW-10: #1A1A1E;
  --BW-15: #242429;
  --BW-20: #313135;
  --BW-30: #494950;
  --BW-40: #62626A;
  --BW-50: #7A7A85;
  --BW-60: #94949E;
  --BW-80: #C9C9CF;
  --BW-90: #E3E3E8;
  --BW-95: #F1F1F3;
  --BW-4: #F3F1F2;
  --BW-100: #FFFFFF;

  --primary: #1CB557;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;

  background-color: #0E0E10;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

button, input[type="submit"], input[type="reset"] {
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
  text-align: center;

  border: none;
  background-color: transparent;
  padding: 0;

  cursor: pointer;
}

input {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 1;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bounded';
  src: url('../public/fonts/Bounded-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.hidden-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}