.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px;

  border-radius: 12px;
  border: 1px solid #494950;

  overflow: hidden;

  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.iconWrapper {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  background-color: #C9C9CF;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.role {
  font-size: 14px;
  font-weight: 500;
  color: #F1F1F3;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.email {
  font-size: 12px;
  font-weight: 400;
  color: #C9C9CF;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}