.formInfo {
  display: flex;
  flex-direction: column;
  gap: 60px;

  width: 100%;
  max-width: 500px;
}

.wrapperInfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.roleWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.roleTitle {
  font-size: 14px;
  font-weight: 500;
  color: #94949E;
}

.roleSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;

  border-radius: 10px;

  padding: 12px;

  background-color: #242429;

  height: 42px;

  cursor: pointer;
}

.roleSelectTitle {
  font-size: 16px;
  font-weight: 400;
  color: #7A7A85;
}

.roleSelectIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
}

.roleSelectIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.mainImage {
  background-color: #C9C9CF;

  border-radius: 50%;

  width: 80px;
  height: 80px;
}

.allImagesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.allImagesTitle {
  font-size: 14px;
  font-weight: 500;
  color: #94949E;
}

.allImages {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
}

.additionalImage {
  background-color: #C9C9CF;

  border-radius: 50%;

  width: 40px;
  height: 40px;

  border: 2px solid #7A7A85;
}

.additionalImage.active {
  border-color: #1CB557;
}

.additionalImage.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addImageBtnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1440px) {
  .formInfo {
    gap: 40px;

    max-width: 460px;
  }

  .wrapperInfo {
    gap: 32px;
  }

  .roleTitle {
    font-size: 13px;
  }

  .roleSelect {
    border-radius: 8px;

    padding: 12px;

    height: 38px;
  }

  .roleSelectTitle {
    font-size: 14px;
  }

  .imagesWrapper {
    gap: 16px;
  }

  .mainImage {
    width: 72px;
    height: 72px;
  }

  .allImagesWrapper {
    gap: 8px;
  }

  .allImagesTitle {
    font-size: 13px;
  }

  .allImages {
    gap: 8px;
  }

  .additionalImage {
    width: 36px;
    height: 36px;

    border: 1.8px solid #7A7A85;
  }
}

@media (max-width: 1440px) {
  .formInfo {
    gap: 32px;
  }

  .wrapperInfo {
    gap: 24px;
  }

  .roleWrapper {
    gap: 4px;
  }

  .roleTitle {
    font-size: 12px;
  }

  .roleSelect {
    border-radius: 6px;

    height: 36px;
  }

  .roleSelectTitle {
    font-size: 13px;
  }

  .imagesWrapper {
    gap: 16px;
  }

  .mainImage {
    width: 64px;
    height: 64px;
  }

  .allImagesWrapper {
    gap: 8px;
  }

  .allImagesTitle {
    font-size: 12px;
  }

  .allImages {
    gap: 6px;
  }

  .additionalImage {
    width: 32px;
    height: 32px;
  }
}